.wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.wrapper-image h1{
    font-size: 34px;
    text-align: center;
    font-weight: 700;
    color: white;
    padding: 50px 50px;
}

.wrapper-image {
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background: #007AFF;
}

.wrapper-image img {
    max-width: 50%; 
    height: auto;
}

.wrapper-form {
    height: 100%;
    width: 50%;
    background: white;
    color: black;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper-form form {
    width: 100%;
    max-width: 400px; 
}

.wrapper-form h1 {
    font-size: 48px;
    text-align: center;
    font-weight: 700;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    margin: 10px 0;
    text-align: left;
}

.input-box input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 15px;
    font-size: 14px;
    color: black;
    padding: 10px 45px 10px 20px;
}

.input-box input::placeholder {
    color: black;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 70%;
    transform: translateY(-50%);
    font-size: 18px;
}

.input-box label {
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

.wrapper button {
    width: 100%;
    height: 45px;
    background: #007AFF;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color: white;
    font-weight: 600;
    margin-top: 10px;
    transition: 0.3s;
}

.wrapper button:hover {
    background: #005ecb;
}
